{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block content %}
    <div id="main">
        <div class="inner">
            <header>
                <h1>Acerca de nuestro ordenador MSX</h1>
                <p>Esta pagina mostrará información de los grandes videojuegos para el mejor ordenador, el MSX.</p>
                <br />
                <p><strong>Pincha en la imagen para mostrar mas informacion acerca de los juegos.</strong></p>
                <span class="image">
                    <a title="Ir a pagina de Juegos" href="/juegos"><img src="../static/images/1200px-MSX-Logo.svg.png" alt="Logo de MSX" width="900" height="500"></a>
                </span>
            </header>
        </div>
    </div>
{% endblock %}